.testimonials {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-column-gap: 100px;
}

.testimonials__device {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
}

.testimonials__heading {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
