.testimonials {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-column-gap: 100px;

  @include responsive-mixin(phone) {
    grid-template-columns: repeat(315px);
  }
  &__device {
    grid-column: 1;
    grid-row: 1;
  }

  &__heading {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include responsive-mixin(phone) {
      font-size: 1.5rem;
      margin-top: 3rem;
      grid-column: 1;
      grid-row: 2;
    }
  }
}
