*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5;
  color: rgb(91, 91, 91);
  padding: 1.5rem;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include responsive-mixin(phone) {
    font-size: 55%;
  }
}
